.owl-carousel{
    height: 400px;
    margin-top: 231px;
    /* margin-left: 40%; */
    border: none;
    width: auto;
    position: absolute;
}
.content_carousel{
    position: absolute;
    align-items: center !important;
    width: 100%;
}

.item{
    position: absolute;
    border-radius: 12px;
    background-color: white;
    box-shadow: 1px 1px 4px 1px rgba(134, 133, 133, 0.2);
    height: 132px;
    padding-top: 9px;
    width: 291px;

    margin-top: 232px;
    margin-left: 41px;
}
.sub_item{
    margin-left: 20px;
    display: flex;
    margin-left: 37px;
    margin-top: -15px;
}

.m_title{
    color: #2932A9;
    font-size: 14px;
    font-family: Segoe UI;
    font-weight: 800;
    text-align: right;
    margin-right: 57px;
}
.sub_itme2{
    margin-left: 60px;
}
.mes{
    color: #2932A9;
    font-weight: 700;
    font-size: 14px;
    text-align: right;
    margin-top: -20px;
    opacity: 0.7;
}
.mes img{
    margin-right: 46px;
    margin-left: 3px;
}

.subtitle1 p{
    color: #A4A4A4;
    font-size: 12px;
    margin-bottom: -4px;
}
.subtitle2 p{
    font-size: 25px;
    font-weight: 800;
    margin-left: 10px;
}
.subtitle3 p{
    color: #A4A4A4;
    font-size: 12px;
    margin-top: -10px;
}

.arrow-left{
    margin-top: 288px;
    margin-left: 18px;
    position: absolute;
}
.arrow-right{
    margin-top: 288px;
    margin-left: 343px;
    position: absolute;
}
