.name{
    color: white;
    font-family: Segoe UI;
    font-size: 17px;
    margin-top: 73px;
    margin-left: 69px;
    position: absolute;
}

.home{
    position: absolute;
    margin-top: 21.5%;
    margin-left: 310px;
}


.img_user{
    margin-top: 32%;
    margin-left: 43px;
    position: absolute;
}

.p_val{
    color: white;
    font-size: 30px;
    font-family: Segoe UI;
    margin-top: 124px;
    margin-left: 172px;
    position: absolute;
}
.p_total{
    color: #A4A4A4;
    font-size: 12px;
    margin-top: 164px;
    margin-left: 200px;
    position: absolute;
}

