.logo{
    position: absolute;
    margin-top: 72px;
    margin-left: 57px;
}

.form{
    position: absolute;
}
.boton_inicio{
    color: white;
    border: none;
    background-color: #2C3383;
    border-radius: 9px;
    height: 42px;
    margin-top: 471px;
    margin-left: 98px;
    outline: none !important;
    width: 179px;
}
.boton_inicio a{
    text-decoration: none;
    color: white;
}

.boton_registro{
    color: #6B6565;
    background-color: white;
    border: none;    
    border-radius: 9px;
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.2);
    height: 42px;
    margin-left: 98px;
    margin-top: 19px;
    outline: none !important;
    width: 179px;
}

.rec{
    margin-top: 18px;
}
.rec a{
    color: #6B6565;
    font-weight: 700;
    font-size: 14px;
    margin-left: 105px;
}