
.content_serv-store{
    position: absolute;
    margin-top: 390px;
}

.img_producto{
    margin-top: 228px;
    margin-left: 35px;
    position: absolute;
}

.items{
    background-color: #F6F5F8;
    box-shadow: 0px 3px 3px 1px rgba(133, 132, 132, 0.2);
    border-radius: 6px;
    display: flex;
    margin-bottom: 8px;
    margin-left: 43px;
    height: 55px;
    width: 291px;
}

.items p{
    font-family: Segoe UI !important;
    font-weight: 800;
    opacity: 0.9;
    font-size: 16px;
    margin-top: 17px;
    margin-left: 15px;
}

.item1_1{
    background-color: #FE5668;
    border-radius: 6px;
    margin-left: 4px;
    margin-top: 4px;
    height: 48px;
    width: 51px;
}
.item1_1 img{
    margin-top: 12px;
    margin-left: 13px;
}
.item1_2{
    background-color: #FA9D4D;
    border-radius: 6px;
    margin-left: 4px;
    margin-top: 4px;
    height: 48px;
    width: 51px;
}
.item1_2 img{
    margin-top: 12px;
    margin-left: 11px;
}
.item1_3{
    background-color: #2F3EA4;
    border-radius: 6px;
    margin-left: 4px;
    margin-top: 4px;
    height: 48px;
    width: 51px;
}
.item1_3 img{
    margin-top: 12px;
    margin-left: 11px;
}

.arrow1{
    margin-top: 17px;
    float: right;
    margin-left: 45px;
}
.arrow2{
    margin-top: 17px;
    float: right;
    margin-left: 30px;
}
.arrow3{
    margin-top: 17px;
    float: right;
    margin-left: 53px;
}