
.content_servi{
    margin-top: 117%;
    position: absolute;
    display: flex;
}

.serv_fork{
    height: 76px;
    border-radius: 6px;
    background-color: #7733FE;
    margin-left: 51px;
    width: 79px;
}
.serv_fork img{
    height: 30px;
    margin-left: 23px;
    margin-top: 15px;
    width: 30px;
}
.serv_fork p{
    color: white;
    font-family: Segoe UI;
    font-weight: 100;
    font-size: 12px;
    opacity: 0.7;
    text-align: center;
    margin-top: 7px;
}


.serv_store{
    height: 76px;
    border-radius: 6px;
    background-color: #15A2C2;
    margin-left: 18px;
    width: 79px;
}
.serv_store img{
    height: 29px;
    margin-left: 23px;
    margin-top: 15px;
    width: 33px;
}
.serv_store p{
    color: white;
    font-family: Segoe UI;
    font-weight: 100;
    font-size: 12px;
    opacity: 0.7;
    text-align: center;
    margin-top: 8px;
}

.serv_save{
    height: 76px;
    border-radius: 6px;
    background-color: #FF6022;
    margin-left: 18px;
    width: 79px;
}
.serv_save img{
    height: 32px;
    margin-left: 23px;
    margin-top: 15px;
    width: 32px;
}
.serv_save p{
    color: white;
    font-family: Segoe UI;
    font-weight: 100;
    font-size: 12px;
    opacity: 0.7;
    text-align: center;
    margin-top: 6px;
}